@font-face {
  font-family: Poppins;
  src: url(/src/assets/fonts/Poppins-Regular.ttf);
}

@import 'tailwindcss';

@theme {
  --font-poppins: Poppins, sans-serif;

  --color-main: #FF5B04;
  --color-dark: #16232A;
  --color-light: #E4EEF0;
  --color-accent: #075056;
}

body {
  font-family: Poppins;
  background-color: var(--color-light);
  color: var(--color-dark);
}

.title {
  @apply text-[20pt] md:text-[25pt] font-semibold
}

.subtitle {
  @apply text-[15pt] md:text-[20pt] text-accent mt-[20px] md:w-[80%] text-center md:self-center
}

.service_card {
  @apply border-3 border-dark w-[320px] h-[320px] rounded-[25px] md:w-[300px]
}