@font-face {
  font-family: Poppins;
  src: url(/src/assets/fonts/Poppins-Regular.ttf);
}

@import 'tailwindcss';

@theme {
  --font-poppins: Poppins, sans-serif;

  --color-main: #FF5B04;
  --color-dark: #16232A;
  --color-light: #E4EEF0;
  --color-accent: #075056;
}

body {
  font-family: Poppins;
  background-color: var(--color-light);
}